.login-father {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

mat-card-title {
  margin-bottom: 2rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #ffffff;
}

.login-navigations {
  margin-top: 1rem;
}
