<app-go-back-button [route]="'animes'"></app-go-back-button>
<div class="login-father">
    <mat-card class="login-container">
        <mat-card-title>Iniciar Sesión</mat-card-title>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" name="username" type="text" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" name="password" type="password" required>
                </mat-form-field>

                @if (isLoading) {
                <button mat-flat-button color="primary"><mat-spinner diameter="25" /></button>
                } @else {
                <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
                    Login
                </button>
                }

                <div class="login-navigations">
                    <a mat-button [routerLink]="['/register']">Crear mi usuario</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>